numpy==1.*
torch == 2.6.*

# Download de vídeos, áudios e metadados
yt-dlp==2024.*

# Banco de dados
psycopg2-binary==2.*
pymongo==4.*

# Transcrição de fala (ASR)
faster-whisper>=1.0.0

# Detecção de emoções em português
feel-it==1.*

# Modelos pré-treinados de NLP, áudio e texto
transformers==4.*

# Notebooks e kernel Jupyter
jupyter==1.*
ipykernel==6.*
